.portfolio-custom {
    .input-control-normal {
        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    .input-control-wide {
        width: 100%;

        @media (min-width: 1200px) {
            margin-right: 15px;
        }
    }

    .drop-down-btn {
        .dropdown-multiselect{
          /*  width: 100%;*/
        }
    }

    .go-btn {
        @media (max-width: $layout-breakpoint-sm - 1) {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            font-size: 28px !important;
            line-height: 28px;
        }
    }
}
