<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="background-color:white;">
        <label class="l-title-1">My Portfolio Analysis</label>
    </div>
    <div style="direction:ltr;background:white;"
         class="l-padding-left-xl l-padding-right-xl l-padding-left-sm--xs l-padding-right-sm--xs">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-div" style="padding-top:5px;">

                <div class="col-lg-12 col-md-12 text-left" style="padding:0px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                        <!--<span class="col-lg-10 col-md-10 white-txt bold-text middle-label" style="padding-bottom:15px;font-size:24px;">Select Portfolio&nbsp;</span>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" style="padding:16px 10px 0px 0px">
                            <button class="white-blue-btn img-btn" ng-click="exportToPdf()"><img class="icon-cls" src="content/themes/images/export-icon.png" />&nbsp;Export</button>
                        </div>-->
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 no-padding">
                        <div class="col-lg-3 col-md-3 col-sm-12" style="margin-top:3px">
                            <div class="col-md-12 col-lg-12 white-txt no-padding">Portfolio</div>
                            <div class="col-md-12 col-lg-12 no-padding">
                                <select id="portfolios" lang="{{$parent.language}}" code="ID" text="Name" name="portfolios" style="width:180px;height:26px;" ng-model="portfolioId" ng-change="changePortfolio()">
                                    <option ng-repeat="i in portfolios" value="{{i.ID}}">{{i.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 white-txt text-right" style="margin-top:12px;">
                            <!--<button class="white-blue-btn" style="padding:5px;" ng-click="calculate()"><img src="content/themes/images/backtestingIcon.png" />Backtest</button>-->
                        </div>

                    </div>



                </div>
            </div>

            <!--<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">&nbsp;</div>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>

            <div class="col-lg-12 col-md-12 no-padding" id="portDetails">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-border no-padding" style="border-left: 25px solid;" ng-style="{'color': riskColor}">
                        <div class="col-md-2 col-sm-2 col-xs-12 black-gray-color details-td">
                            <span class="col-sm-12 col-md-12 col-xs-6 small-header">Created</span>
                            <span class="col-sm-12 col-md-12 col-xs-6 l-color-brand optimize-font">{{portfolio.DateCreated | date:"MM/dd/yyyy"}}</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12 black-gray-color details-td">
                            <span class="col-sm-12 col-md-12 col-xs-6 small-header">Risk Level</span>
                            <span class="col-sm-12 col-md-12 col-xs-6 l-color-brand optimize-font" ng-style="{'color':riskColor}">{{riskName}}</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12 black-gray-color details-td">
                            <span class="col-sm-12 col-md-12 col-xs-6 small-header">Investment</span>
                            <span class="col-sm-12 col-md-12 col-xs-6 l-color-brand" ng-class="{'optimize-font': (portfolio.Equity|number:0).toString().length < 10,'opt-data-font': (portfolio.Equity|number:0).toString().length > 9}" is-number-format="true">{{currency}}{{portfolio.Equity | number:0}}</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12 black-gray-color details-td">
                            <span class="col-sm-12 col-md-12 col-xs-6 small-header" style="padding-right:0px;">Portfolio Value </span>
                            <span class="col-sm-12 col-md-12 col-xs-6 l-color-brand" ng-class="{'optimize-font': ((portfolio.CurrEquity + portfolio.Profit)|number:0).toString().length < 10,'opt-data-font':  ((portfolio.CurrEquity + portfolio.Profit)|number:0).toString().length > 9}" is-number-format="true">{{currency}}{{portfolio.CurrEquity + portfolio.Profit | number:2}}</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 black-gray-color no-padding details-td" style="border:none;">
                            <span class="col-sm-12 col-md-12 col-xs-6 small-header">Changes Since Portfolio Creation</span>

                            <span class="col-sm-12 col-md-12 col-xs-6 l-color-brand" ng-class="{'optimize-font': (changeFromYesterday|number:0).toString().length < 11,'opt-data-font': (changeFromYesterday|number:0).toString().length > 11}">{{currency}}{{changeFromYesterday|number:2}} | {{(changeFromYesterday/portfolio.Equity)*100|number:2}}%<img ng-src="content/themes/images/{{changeIcon}}.png" style="margin-left:15px;margin-top:-5px;" /></span>


                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-border l-padding-md">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="black-gray-color" style="font-size:30px;" ng-show="portfolio.SecurityData.length > 0">{{portfolio.SecurityData.length - deleteSecuritiesMone}} Securities in this portfolio</span>
                    </div>

                    <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
                        <div class="col-md-12 col-lg-12 hidden-sm hidden-xs gray-border" style="padding-left:0px;padding-top:10px;">
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-6 col-md-6">Weight</div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  text-right">
                                    <input type="radio" id="percentageRadio" name="orderRadio" ng-model="chartOrderByField" value="percentage" ng-change="changeOrderByBarChart()" /><label style="padding-left:5px;" for="percentageRadio">security percentage</label>
                                    <input type="radio" id="symbolRadio" name="orderRadio" ng-model="chartOrderByField" value="symbol" ng-change="changeOrderByBarChart()" /><label style="padding-left:5px;" for="symbolRadio">security symbol</label>
                                </div>
                            </div>
                            <div class="chart-responsive" style="padding:20px">
                                <div>
                                    <!-- BAR CHART -->
                                    <div class="box-content">
                                        <div class="chart-responsive" id="chartcanvas" style="min-height:300px;" ng-click="updatechartSize()">
                                            <div chart-bar labels="barLabels" name="'portSecurities'" all-data="barData" chart-height="350" options="barOptions" show-value="true"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="hidden-lg hidden-md col-sm-12 col-xs-12 no-padding">
                        <div class="col-sm-12 col-xs-12">&nbsp;</div>
                        <div class="col-sm-12 col-xs-12 text-right">
                            <div class="col-sm-6 hidden-xs no-padding">&nbsp;</div>
                            <div class="col-sm-3 col-xs-12 no-padding"><input type="radio" id="percentageRadio" name="orderMobileRadio" ng-model="chartOrderByField" value="percentage" ng-change="changeOrderByBarChart()" /><label style="padding-left:5px;" for="percentageRadio">security percentage</label></div>
                            <div class="col-sm-3 col-xs-12 no-padding" style="padding-right:22px">
                                <input type="radio" id="symbolRadio" name="orderMobileRadio" ng-model="chartOrderByField" value="symbol" ng-change="changeOrderByBarChart()" /><label style="padding-left:5px;" for="symbolRadio">security symbol</label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
                        <div class="col-sm-12 col-xs-12 no-padding">
                            <div style="height:100px;overflow-y:auto;overflow-x:hidden;direction:rtl" class="col-sm-12 col-xs-12 no-padding">
                                <div ng-repeat="sec in barData1 track by $index" class="col-sm-12 col-xs-12 no-padding">
                                    <span class="col-sm-2 col-xs-3 black-gray-font text-center" style="padding-right:0px;">{{barLabels[$index]}}</span>
                                    <div class="col-sm-10 col-xs-9 no-padding">
                                        <div class="col-sm-10 col-xs-10" style="padding-left:0px;">
                                            <div class="progress-bar progress" role="progressbar" aria-valuenow="{{sec.id}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': sec.id + '%'}">
                                                <span class="black-gray-font text-center no-padding" style="color:white;font-size:9px;" ng-show="sec.portSecWeight * 100 > 60"> {{sec.id| number}}%</span>
                                            </div>
                                        </div>
                                        <span class="black-gray-font col-sm-2 col-xs-2 no-padding" ng-show="sec.id < 60"> {{sec.id| number}}%</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>

                    <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                        <div class="col-sm-12 col-xs-12 black-gray-color simple-header">Stock Exchange Weights</div>
                        <div class="col-sm-12 col-xs-12">
                            <div chart-pie name="'stockPieChartMobile'" options="stockOptions" chart-width="200" chart-height="100" data="stockData"></div>
                        </div>
                        <div class="col-sm-12 col-xs-12 black-gray-color text-left simple-header">Sector Weights</div>
                        <div class="col-sm-12 col-xs-12">
                            <div chart-pie name="'sectorPieChartMobile'" options="sectorOptions" chart-width="200" chart-height="100" data="sectorData"></div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 no-padding">

                        <div class="col-md-12 col-sm-12 col-xs-12 l-padding-left-xs--xs l-padding-right-xs--xs">

                            <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!--<span class="input-group-btn">
                                    <button type="button" class="btn blue-button" style="font-size:16px;"><div><span>Remove Selected</span><br />& re-Calculate </div><span ng-show="selectSecurityNum > 0">Unselect All</span></button>
                                </span>-->
                                <input type="text" class="search-input" ng-change="search()" ng-model="searchText" placeholder="Search Security" style="font-size:20px;margin-top:10px;width:98%">
                            </div><!-- /input-group -->
                        </div>


                        <!-- Header -->
                        <div id="portSecuritiesTbl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 l-padding-left-xs--xs l-padding-right-xs--xs">
                            <div class="col-lg-12 col-md-12 hidden-sm hidden-xs text-lable-blue no-padding">
                                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-lable-blue-bold" style="padding-left:5px;">
                                    <span style="display: inline-block; min-width: 47px; margin-left: 12px;">Risk</span>
                                    <span>Security</span>
                                </div>
                                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs text-lable-blue-bold no-padding"
                                     style="margin-left: 7px;">
                                    Symbol
                                </div>
                                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs text-lable-blue-bold no-padding" style="margin-left:-15px">
                                    Exchange
                                </div>
                                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs text-lable-blue-bold no-padding">
                                    Weight
                                </div>
                                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs text-lable-blue-bold" style="margin-left: -3px;">
                                    Sector
                                </div>
                                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs text-lable-blue-bold no-padding">
                                    Quantity
                                </div>
                                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs text-lable-blue-bold" style="padding-left:10px;">
                                    Value
                                </div>
                            </div>
                            <table ng-table="tableParams" class="table-securities">
                                <tr ng-repeat="sec in $data" class="no-padding">
                                    <td>
                                        <security model="sec" columns="columns" mobile-columns="mobileColumns" is-full="false" risk-color-field="'stdYield'" index="$index" chart-width="chartWidth" select-model="addOrRemoveToSectorList(model)" currency="currencyId"></security>
                                    </td>
                                </tr>
                                <tr class="no-padding" ng-show="showCashRow()">
                                    <td>
                                        <security model="cashData" columns="cacheColumns" mobile-columns="mobileCachColumns" is-full="false" risk-color-field="'StdYield'" chart-width="900" index="$index" select-model="addOrRemoveToSectorList(model)" currency="cashData.IdCurrency"></security>
                                    </td>
                                </tr>
                            </table>
                            <tfi-table-paginator tfi-table-params="tableParams"
                                                 class="l-margin-left-m l-margin-right-m"></tfi-table-paginator>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-12 hidden-sm hidden-xs no-padding text-center">
                        <div class="col-lg-12 hidden-md hidden-sm hidden-xs" style="height:60px;">&nbsp;</div>

                        <div class="col-lg-12 col-md-12 black-gray-color" style="font-size:28px;">Stock Exchange Weights</div>
                        <div class="col-lg-12 col-md-12 no-padding">
                            <div chart-pie name="'stockPieChart'" class="no-padding" options="stockOptions" data="stockData"></div>
                        </div>
                        <div class="col-lg-12 col-md-12 black-gray-color text-center" style="font-size:28px;">Sector Weights</div>
                        <div class="col-lg-12 col-md-12 no-padding">
                            <!--<div chart-bar name="'sectorPieChart'" options="sectorOptions" data="sectorData"></div>-->
                            <div chart-pie name="'sectorPieChart'" class="no-padding" options="sectorOptions" data="sectorData"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>