<div class="container registration-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Welcome to Cherries Account Update form.</h1>
        <p>Please update your personal details</p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <form name="changeAccountDetails" class="registrationForm" action="">
            <fieldset class="col-lg-12 col-md-12">
                <div class="fullNameEmail-style  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span>*</span><p style="min-width:115px;">User Name: </p><input type="text" name="" id="" class="account-details-input" readonly="readonly" required ng-model="model.User.Username" placeholder="User Name:">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-Style" style="height:0px;">&nbsp;</div>
                <div class="fullNameEmail-style col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span>*</span><p style="min-width:115px;">Full Name: </p><input type="text" name="" id="" class="account-details-input" required ng-model="model.User.Name" placeholder="Full Name:">
                    <div class="no-padding col-lg-4 col-md-4 col-sm-12 col-xs-12" style="max-width:370px"><span>*</span><p style="min-width:115px;">Email: </p><input type="text" class="account-details-input" name="" id="" required ng-model="model.User.Email" placeholder="Email:"></div>
                </div>

                <div class="fullNameEmail-style col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span>*</span><p style="min-width:115px;">Mobile Phone: </p><input type="tel" name="" id="" class="account-details-input" required ng-model="model.User.CellPhone" placeholder="Mobile Phone:">
                    <div class="no-padding col-lg-4 col-md-4 col-sm-12 col-xs-12" style="max-width:370px"><span style="padding-left:5px;">*</span><p style="min-width:110px;">Birth Date Year: </p><input type="number" name="yearBirth" id="" required class="account-details-input" ng-model="model.User.YearOfBirth" placeholder="Birth Date Year:" number-only number-length="4" cst-birth-date-year min-year="1999" max-year="{{currentYear}}" /><span ng-show="registrationForm.yearBirthDate.$error.birthDateYear" style="color:red"> Year of Birth must be greater than 1990 and less than current year</span></div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-Style" style="height:0px;">&nbsp;</div>
                <div class="fullNameEmail-style col-lg-12 col-md-12">

                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="max-width:200px">
                        <p style="margin:0px;width:210px;"><span>*</span>Select Country:</p>
                        <select name="slcCountry" id="slctestid" class="countrySelect" required ng-model="model.User.District.idCountry" style="width:185px;" ng-options="country.CountryID as country.CountryName for country in countries">
                            <option value="" selected="selected">Choose an item</option>
                            <option ng-repeat="country in countries" value="{{country.CountryID}}">{{country.CountryName}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="max-width:200px">
                        <p style="margin:0px;width:210px;"><span>*</span>Select State: </p>

                        <select name="slcDistrict" ng-model="model.User.District.idDistrict" required class="stateSelect" style="width:185px;" ng-options="dis.idDistrict as dis.strDistrictName for dis in districts | DistirictCountry:model.User.District.idCountry*1:'idCountry'">
                            <option value="" selected="selected">Choose an item</option>
                            <option ng-repeat="dis in districts | DistirictCountry:model.User.District.idCountry*1:'idCountry'" value="{{dis.idDistrict}}">{{dis.strDistrictName}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="max-width:200px">
                        <p style="margin:0px;width:210px;"><span>*</span>Choose Your Gender: </p>
                        <select name="slcGender" class="genderSelect" ng-model="model.User.Gender" required style="width:185px;" ng-options="gender.Id as gender.Description for gender in genders">
                            <option value="" selected="selected">Choose an item</option>
                            <option ng-repeat="gender in genders" value="{{gender.Id}}">{{gender.Description}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="max-width:200px">
                        <p style="margin:0px;width:210px;"><span>*</span>Choose Your Currency: </p>
                        <span style="height:9px" class="col-lg-12">&nbsp;</span>
                        <span style="color:white;padding-left:15px;">{{model.User.Currency.CurrecnyName}}</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-Style" style="height:0px;">&nbsp;</div>
                <div class="update-step1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="styleBtn1" type="button" ng-click="updateUserDetails(changeAccountDetails)">Update</button>
                    <button class="styleBtn1" style="width:100px;" type="button" ng-click="back()">Back</button>
                </div>


            </fieldset>
        </form>
    </div>
</div>
