<div class="col-lg-12 col-md-12 no-padding">
    <div login-header></div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-lg-12 col-md-12 blue-backgeround" style="background-color:#275F97">
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs">&nbsp;</div>
        <div class="col-lg-9 col-md-12">
            <div class="col-md-12 col-xs-12 col-sm-12 login-main-div mrg-div">
                <span class="col-md-12 cols-sm-12 col-xs-12 login-font login-fields-div extra-font no-padding">
                    Forgot Your Password?
                </span>
                <span class="col-md-12 cols-sm-12 col-xs-12 login-font login-fields-div medium-font no-padding">
                    Please enter your E-mail to receive a temporary password
                </span>
                <div class="col-md-12 col-sm-12 col-xs-12 no-padding l-padding-top-sm">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 no-padding">
                        <div class="hidden-lg hidden-md cols-sm-12 col-xs-12" style="padding:5px 5px 5px 0px;">
                            <label for="tempPassword" class="login-font medium-font">Email:</label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                            <input type="text" class="newps-field" id="mail" style="width:270px;height:42px;font-size:20px;" placeholder="Email" ng-model="params.Email" ng-keypress="onKeyPress($event)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 login-btn-div l-padding-top-xxs">
                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding mrg-div">
                            <a type="button" class="btn blue-btn login-btn" ng-click="continue()" style="height:42px;">Continue</a>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">&nbsp;</div>
    </div>
</div>