<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type="" />
                </add>
                <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
            </listeners>
        </trace>
    </system.diagnostics>
    <appSettings>
        <add key="MapAsssembly" value="TFI.Entities" />
        <add key="DateInterval" value="3" />
        <add key="smtpserverAuth" value="smtp.1and1.com" />
        <add key="smtpportAuth" value="587" />      
        <add key="usernameAuth" value="authentication@gocherries.com" />      
        <add key="fromAuth" value="authentication@gocherries.com" /> 
        <add key="passwordAuth" value="VDJnOWl0dFlXd1VOb2VyUEdYeW1NZz09" />      
        <add key="smtpserverInfo" value="smtp.gmail.com" />
        <add key="smtpportInfo" value="587" />
        <add key="usernameInfo" value="info@gocherries.com" />
        <add key="fromInfo" value="info@gocherries.com" />
        <add key="passwordInfo" value="dERISER0VitCUElJN3FudGdEUWFDNGhuTm9pSmU2eEVyWnp3NmR2QUlmOD0=" />
        <add key="priceRefreshInterval" value="3600000" />
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
    <connectionStrings>
      <!--  <add name="ConnStr" connectionString="Data Source=tcp:takindev.database.windows.net,1433;Initial Catalog=ExchangesDB_Quandl;User Id=takinadm;Password=Tak_1234;" providerName="System.Data.SqlClient" /> -->
      <!--<add name="ConnStr" connectionString="Data Source=tcp:takindev.database.windows.net,1433;Initial Catalog=ExchangesDB;User Id=takinadm;Password=Tak_1234;" providerName="System.Data.SqlClient" />-->
      <!--<add name="ConnStr" connectionString="Data Source=tcp:takin.database.windows.net,1433;Initial Catalog=ExchangesDB;User Id=takinadm@takin.database.windows.net;Password=Tak_1234;" providerName="System.Data.SqlClient" />-->
      <add name="ConnStr" connectionString="Data Source=tcp:takin.database.windows.net,1433;Initial Catalog=dbCherries;User Id=takinadm@takin.database.windows.net;Password=Tak_1234;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" requestValidationMode="2.0" />
        <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false" />
        <customErrors mode="Off" />
        <authentication mode="None" />
        <!--<sessionState timeout="20" mode="InProc"></sessionState>-->
        <sessionState mode="InProc"></sessionState>
        <httpModules>
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
        </httpModules>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ApplicationInsightsWebTracking" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
        </modules>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.min.html" />
            </files>
        </defaultDocument>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <httpCompression>
            <dynamicTypes>
                <clear />
                <add enabled="true" mimeType="text/*" />
                <add enabled="true" mimeType="message/*" />
                <add enabled="true" mimeType="application/x-javascript" />
                <add enabled="true" mimeType="application/javascript" />
                <add enabled="true" mimeType="application/json" />
                <add enabled="false" mimeType="*/*" />
                <add enabled="true" mimeType="application/atom+xml" />
                <add enabled="true" mimeType="application/atom+xml;charset=utf-8" />
            </dynamicTypes>
            <staticTypes>
                <clear />
                <add enabled="true" mimeType="text/*" />
                <add enabled="true" mimeType="message/*" />
                <add enabled="true" mimeType="application/javascript" />
                <add enabled="true" mimeType="application/atom+xml" />
                <add enabled="true" mimeType="application/xaml+xml" />
                <add enabled="true" mimeType="application/json" />
                <add enabled="false" mimeType="*/*" />
            </staticTypes>
        </httpCompression>
        <staticContent>
            <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:15:15" />-->
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
</configuration>
