<footer class="footer">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-xs-12" style="height:30px;">
            &nbsp;
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center"  style="height:50px;">
            <p class="col-md-4 col-sm-4 col-xs-12" style="margin-top:-10px;"><a href="Conditions" class="text-footer xs-padding">לתנאי שימוש באתר</a></p>
            <p class="col-md-4 col-sm-4 col-xs-6 text-left" style="margin-top:-10px;"><a href="mapSite" class="text-footer">מפת האתר</a></p>
            <p class="col-md-4 col-sm-4 col-xs-6 text-right" style="margin-top:-10px;"><a href="accessibility">נגישות</a></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center"  style="max-height:80px;">
            <div class="footer-border footer-img"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center"  style="max-height:80px;">
            <div class="footer-img"></div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12 text-center"  style="max-height:50px;">
            <div><p class="text-footer"></p></div>
        </div>
        <div class="col-lg-2 col-md-1 col-sm-1 col-xs-12"  style="max-height:50px;">
            <p class="text-footer">גירסה {{version}}</p>
        </div>
    </div>
</footer>
