<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=EMPTLCLOUD.CLOUDAPP.NET;Initial Catalog=CherriesDB;Persist Security Info=True;user id=emptl;password=Middle$East" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>