<div class="backtesting">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="background-color:white;">
        <label class="l-title-1">Backtesting Analysis</label>
    </div>
    <div style="direction:ltr;background:white;"
         class="l-padding-left-xl l-padding-right-xl l-padding-left-sm--xs l-padding-right-sm--xs">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-div">
                <div class="col-lg-5 col-md-5">
                    <span class="white-txt col-lg-12 col-md-12 no-padding" style="font-size:23px;">Portfolio Name: {{params.Name}}</span>
                    <span class="white-txt no-padding backtesting-label">Valid for {{validDate}}</span>
                </div>

            </div>
        </div>

        <!--<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">&nbsp;</div>-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div layout="column" layout-gt-sm="row"
                 class="gray-border backtesting__optimize-container">
                <div class="l-color-brand backtesting__optimize-pnl">
                    <div class="small-header">Benchmark</div>
                    <div class="l-aligh-center l-font-sm l-padding-bottom-sm">
                        <div ng-repeat="i in params.FullbenchMarks;" value="{{i.id}}">
                            {{i.label}}
                        </div>
                        <div ng-show="!params.FullbenchMarks || params.FullbenchMarks.length == 0">None</div>
                    </div>

                </div>
                <div class="l-color-brand backtesting__optimize-pnl">
                    <div class="small-header text-center">Portfolio Equity Value</div>
                    <div>
                        <div class="text-center" ng-class="{'text-right':lastSelectBenchmark}">
                            {{backtesting.CurrencySign}}{{params.Equity |number:2}} - {{backtesting.CurrencySign}}{{lastPortfolioEquity.PortAmount | number:2}}
                        </div>
                        <div  ng-show="lastSelectBenchmark">
                            <img class="no-padding" ng-show="lastSelectBenchmark.PortReturn>0" style="height:15px;width:18px;" src="content/themes/images/arrow_up.png" />
                            <img class="no-padding" ng-show="lastSelectBenchmark.PortReturn<=0" style="height:15px;width:18px;" src="content/themes/images/arrow_down.png" />
                            <div class="no-padding">{{lastSelectBenchmark.PortReturn | percentage :0 }} </div>
                        </div>
                    </div>
                </div>
                <div class="l-color-brand backtesting__optimize-pnl">
                    <div class="small-header">Tested Period</div>
                    <div class="l-padding-top-xs">{{params.StartDate}} - {{params.EndDate}}</div>
                    <div class="l-padding-top-xs">{{periodDays}} days</div>
                </div>
                <div class="l-color-brand backtesting__optimize-pnl" style="border-right: none;">
                    <div class="small-header">Risk Level</div>
                    <div class="text-lable-bold l-padding-top-sm" ng-style="{'color':riskColor}">{{riskName}}</div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blue-div no-padding">
            <div class="col-lg-4 col-md-4 text-left">
                <label class="col-lg-12 col-mg-12 col-sm-12 white-txt no-padding backtesting-label">
                    Risk:
                </label>
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 white-txt no-padding backtesting-label">
                    {{backtesting.CurrPortRiskVal | percentage :2}}
                </span>
            </div>
            <div class="col-lg-4 col-md-4 text-left">
                <label class="col-lg-12 col-mg-12 col-sm-12 white-txt no-padding backtesting-label">
                    Average Yearly Return:
                </label>
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 white-txt no-padding backtesting-label">
                    {{backtesting.CurrPortReturnValue | percentage :2}}
                </span>
            </div>
            <div class="col-lg-4 col-md-4 text-left">
                <label class="col-lg-12 col-mg-12 col-sm-12 white-txt no-padding backtesting-label">
                    Return To Risk Ratio:
                </label>
                <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 white-txt no-padding backtesting-label">
                    {{backtesting.CurrPortRateToRisk | number :2}}
                </span>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:15px 0px">
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" ng-show="!benchMarkResultSelect">&nbsp;</div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 no-padding" style="margin-bottom:15px;">
                <!--style="padding-left:0px;"-->
                <div class="col-md-12 gray-border no-padding" ng-class="{'col-lg-11':benchMarkResultSelect,'col-lg-12':!benchMarkResultSelect}">
                    <div class="blue-box-header">
                        <div class="l-padding-left-md l-padding-right-md">
                            <div class="hidden-xs">{{params.Name}} as of {{portendDate|date:'MM/dd/yyyy'}} (EOD)</div>
                            <div class="visible-xs l-aligh-center">
                                <div>{{params.Name}}</div>
                                <div> as of {{portendDate|date:'MM/dd/yyyy'}} (EOD)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">&nbsp;</div>
                    <div class="col-lg-12 col-md-12 no-padding">
                        <div class="col-lg-12 col-md-12">
                            <span class="col-lg-4 col-md-3 col-sm-4 col-xs-12 black-gray-font no-padding">Value {{params.StartDate | date :'MM/dd/yy'}}: <b>{{backtesting.CurrencySign}}{{startSelectBenchmark.PortAmount|number:0}}</b></span>
                            <span class="col-lg-5 col-md-6 col-sm-5 col-xs-12 black-gray-font no-padding">Accumulated Profit/Loss: <b>{{backtesting.CurrencySign}}{{selectPortfolio.PortAmount - params.Equity|number:2}}</b></span>
                            <span class="col-lg-3 col-md-3 col-sm-3 col-xs-12 black-gray-font no-padding">Risk: <b>{{backtesting.CurrPortRiskVal  | percentage :2}}</b></span>

                        </div>
                        <div class="col-lg-12 col-md-12">
                            <span class="col-lg-4 col-md-3 col-sm-4 col-xs-12 black-gray-font no-padding">Value {{portendDate | date :'MM/dd/yyyy'}}: <b>{{backtesting.CurrencySign}}{{selectPortfolio.PortAmount|number:2}}</b></span>
                            <span class="col-lg-5 col-md-6 col-sm-5 col-xs-12 black-gray-font no-padding">Return For The Period: <b>{{selectPortfolio.PortReturn | percentage:2}}</b></span>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12">&nbsp;</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 no-padding" ng-show="benchMarkResultSelect">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-border no-padding">
                    <div class="col-lg-12 col-md-12 blue-box-header no-padding" ng-style="{'background-color':benchMarkResultSelect.colorBack}">
                        <div class="l-padding-left-md l-padding-right-md">
                            <div class="hidden-xs">{{benchMarkResultSelect.Name}} as of {{endDate|date:'MM/dd/yyyy'}} (EOD)</div>
                            <div class="visible-xs l-padding-top-sm l-padding-bottom-sm">
                                <div layout="row" layout-align="space-between center">
                                    <a tfi-link-button ng-if="backtesting.benchMarkResult.length > 1"
                                       ng-click="prevBenchmark()" 
                                       class="no-border backtesting__benchmark-switch">
                                        <img src="Content/themes/images/arrow_left_white.png" />
                                    </a>
                                    <div flex-grow class="l-aligh-center">
                                        <div>{{benchMarkResultSelect.Name}}</div>
                                        <div>as of {{endDate|date:'MM/dd/yyyy'}} (EOD)</div>
                                    </div>
                                    <a tfi-link-button ng-if="backtesting.benchMarkResult.length > 1"
                                       ng-click="nextBenchmark()" class="no-border backtesting__benchmark-switch">
                                        <img src="Content/themes/images/arrow_right_white.png" />
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">&nbsp;</div>
                    <div class="col-lg-12 col-md-12 no-padding">
                        <div class="col-lg-12 col-md-12">
                            <span class="col-lg-4 col-md-3 col-sm-4 col-xs-12 black-gray-font no-padding">Value {{params.StartDate | date :'MM/dd/yy'}}: <b>{{backtesting.CurrencySign}}{{startSelectBenchmark.IndexAmount|number:0}}</b></span>
                            <span class="col-lg-5 col-md-6 col-sm-5 col-xs-12 black-gray-font no-padding">Accumulated Profit/Loss: <b>{{backtesting.CurrencySign}}{{benchMarkResultSelect.IndexAmount-params.Equity|number:2}}</b></span>
                            <span class="col-lg-3 col-md-3 col-sm-3 col-xs-12 black-gray-font no-padding risk-pad">Risk: <b>{{backtesting.BenchmarkRisk  | percentage :2}}</b></span>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <span class="col-lg-4 col-md-3 col-sm-4 col-xs-12 black-gray-font no-padding">Value {{endDate | date :'MM/dd/yyyy'}}: <b>{{backtesting.CurrencySign}}{{benchMarkResultSelect.IndexAmount|number:2}}</b></span>
                            <span class="col-lg-5 col-md-6 col-sm-5 col-xs-12 black-gray-font no-padding">Return For The Period: <b>{{benchMarkResultSelect.IndexReturn  | percentage :2}}</b></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">&nbsp;</div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-border" style="padding:15px;">

                <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs no-padding">
                    <div class="l-padding-left-md">
                        <div class="black-gray-color back-chart-header">
                            <b>Performance Analysis:</b> {{params.Name}} 
                            <span ng-show="params.FullbenchMarks.length > 0">vs Benchmarks 
                                <span ng-repeat="i in params.FullbenchMarks;" value="{{i.id}}">{{i.label}}
                                    <span ng-show="$index < params.FullbenchMarks.length -1">, </span> 
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="chart-responsive" style="padding:30px 20px 20px 20px;">
                        <div class="col-lg-12 col-md-12 no-padding">
                            <div class="col-md-12 gray-border">
                                <!-- LINE CHART -->
                                <div class="box-content">
                                    <div style="width:5px;" class="col-lg-1 col-sm-1">
                                        <label style="transform: rotate(90deg);margin-top:150px">Return</label>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-11 chart-responsive" style="min-height:300px;" id="chartScatchercanvas" ng-click="updatechartSize()" resize>
                                        <div line-scattertest labels="lineLabels" all-data="lineData" options="lineOptions" multi-lines="true" select-point-event="setSelectBenchmarkParams(index,indexline)"></div>
                                    </div>
                                    <div class="backtesting__chart-legend">
                                        <span ng-repeat="l in chartLegend"
                                              class="backtesting__chart-legend-item"
                                              ng-style="{'background-color':l.color,'color':($index == chartLegend.length - 1)?'white':'black'}">
                                            {{l.name}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">

                    <div class="col-lg-1 col-md-1 no-padding">&nbsp;</div>

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding">

                        <div class="col-lg-12 col-md-12 black-gray-color" style="font-size:30px">{{secsNum}} securities in this portfolio</div>
                        <div class="col-md-12 col-sm-12 col-xs-12 becktesting-pad">
                            <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:10px">
                                <!--<span class="input-group-btn">
                                <button type="button" class="btn blue-button" style="font-size:16px;"><div><span>Remove Selected</span><br />& re-Calculate </div><span ng-show="selectSecurityNum > 0">Unselect All</span></button>
                            </span>-->
                                <input type="text" class="search-input backtest-mrg" ng-change="search()" ng-model="searchText" placeholder="Search Security" style="font-size:20px;margin-top:10px;width:99%">
                            </div><!-- /input-group -->
                        </div>

                        <!-- Header -->

                        <div class="col-lg-12 col-md-12 hidden-sm hidden-xs text-lable-blue back-security-pad">

                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs text-lable-blue-bold no-padding"
                                 style="padding-top: 28px">
                                <span style="display: inline-block; margin-left: 16px; min-width: 47px;">
                                    Risk
                                </span>
                                <span style="display: inline-block;">
                                    Security
                                </span>
                            </div>
                            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs text-lable-blue-bold no-padding"
                                 style="padding-left: 8px; padding-top: 28px">
                                Symbol
                            </div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs text-lable-blue-bold no-padding" 
                                 style="padding-left:7px; padding-top: 28px">
                                Exchange
                            </div>
                            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs text-lable-blue-bold no-padding"
                                 style="padding-top: 28px; padding-left: 2px;">
                                Sector
                            </div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs text-lable-blue-bold no-padding" style="margin-top:5px">
                                <div class="lightgray-back" style="width: calc(50% + 47px); padding-bottom: 3px;">
                                    <div class="text-center text-lable-blue-long"
                                         style="z-index:10; padding-top:3px;">As of {{params.StartDate | date:'dd MMM yy'}}</div>
                                    <div style="display: inline-block; width: calc(100% - 50px); padding-left: 10px;">Value({{backtesting.CurrencySign}})</div>
                                    <div style="display: inline-block">Price</div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs text-lable-blue-bold no-padding" style="margin-top:5px; margin-left: -5px;">
                                <div class="lightgray-back" style="width: calc(50% + 47px); padding-bottom: 3px;">
                                    <div class="text-center text-lable-blue-long"
                                         style="z-index:10; padding-top:3px;">As of {{params.EndDate| date:'dd MMM yy'}}</div>
                                    <div style="display: inline-block; width: calc(100% - 50px); padding-left: 10px;">Value({{backtesting.CurrencySign}})</div>
                                    <div style="display: inline-block">Price</div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs text-lable-blue-bold"
                                 style="padding-top: 28px">
                                Profit/Loss
                            </div>
                        </div>
                        <div class="col-lg-12 col-ms-12 col-xs-12 col-sm-12 l-padding-left-xs l-padding-right-xs--xs">
                            <table ng-table="tableParams" class="table-securities">
                                <tr ng-repeat="sec in $data" class="no-padding">
                                    <td>
                                        <security model="sec" columns="columns" mobile-columns="mobileColumns" is-full="false" risk-color-field="'standardDev'" chart-width="900" index="$index" select-model="addOrRemoveToSectorList(model)" currency="backtesting.CurrencySign"></security> <!--is-last="$last == true"-->
                                    </td>
                                </tr>
                                <tr ng-if="showCashRow()" class="no-padding">
                                    <td>
                                        <security model="cashData" columns="cashColumns" mobile-columns="mobileCashColumns" is-full="false" risk-color-field="'standardDev'" chart-width="900" index="$index" select-model="addOrRemoveToSectorList(model)" currency="backtesting.CurrencySign"></security> <!--is-last="$last == true"-->
                                    </td>
                                </tr>
                            </table>
                            <tfi-table-paginator tfi-table-params="tableParams"
                                                 class="l-margin-left-m l-margin-right-m"></tfi-table-paginator>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>